<div class="container">
    <div class="row">
        <div class="">
            <h1>Lista de peliculas</h1>
        </div>
        <br>
        <div class="">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Año</th>
                    <th scope="col">Director</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let pelicula of peliculas">
                    <th scope="row">1</th>
                    <td>{{ pelicula.Title }}</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



